<ion-header>
  <ion-navbar>
    <ion-buttons menuToggle>
      <button>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>主页</ion-title>
    <ion-buttons end>
      <button>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="home">
  <ion-slides [options]="slideOptions">
    <ion-slide *ngFor="let item of slides">
      <img [src]="item.image">
      <h2 [innerHTML]="item.index"></h2>
    </ion-slide>
  </ion-slides>
  <ion-list>
    <ion-item-divider>
      附近商家
    </ion-item-divider>
    <ion-item *ngFor="let item of stores">
      <ion-thumbnail item-left>
        <img [src]="item.image">
      </ion-thumbnail>
      <h3>{{item.name}}</h3>
      <p>{{item.number}}</p>
      <button clear item-right>查看</button>
    </ion-item>
  </ion-list>
</ion-content>
